html { 
  background: url('../i/bgdest.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	background-color: transparent;
}
a {
	color: #929292;
	text-decoration: none;
}
a:link {
	color: #929292;
	text-decoration: none;
}
a:visited {
	color: #929292;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
a:active {
	color: #FFFFFF;
	text-decoration: none;
}
h1 {
	color: #FFFFFF;
	margin-top: 4%;
	margin-bottom: 4%;
}
#content-area {
	background-color: rgba(0,0,0,0.8);
	margin-bottom: 5%;
}
#content-head {
	margin-top: 2%;
}
.content-separator {
	margin-top: 2%;
	height: 1px;
	background-color: rgba(255,255,255,0.8);
}

#content-navbar {
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	width: 59%;
	font-size: 1.3em;
}
#content-navbar a {
	margin-right: 5%;
}
#content-navbar a:last-child {
	margin-right: 0;
}

.post-wrapper {
	border: 1px dotted #7A7A7A;
	background-color: #000000;
	margin-bottom: 25%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 1%;
}

.post-content {
	display: inline-block;
	color: #FFFFFF;
	margin-left: 3%;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: inherit;
}

.post-image {
	display: inline-block;
	
	height: 180px;
	width: 340px;
	max-width: 45%;
}

.article-wrapper {
	border: 1px dotted #7A7A7A;
	background-color: #000000;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 1%;
}

.about-image{
	display: inline-block;
	background: url("../i/about.jpg") center center no-repeat;
	height: 180px;
	width: 340px;
	max-width: 45%;
}

.article-image1{
	display: inline-block;
	background: url("../i/FCR_Icons/fcr3.jpg") center center no-repeat;
	height: 180px;
	width: 340px;
	max-width: 45%;
}

.article-image2{
	display: inline-block;
	background: url("../i/FCR_Icons/fcr4.jpg") center center no-repeat;
	height: 180px;
	width: 340px;
	max-width: 45%;
}

.article-image3{
	display: inline-block;
	background: url("../i/FCR_Icons/fcr6.jpg") center center no-repeat;
	height: 180px;
	width: 340px;
	max-width: 45%;
}

.article-image4{
	display: inline-block;
	background: url("../i/FCR_Icons/fcr7.jpg") center center no-repeat;
	height: 180px;
	width: 340px;
	max-width: 45%;
}

.about-content {
	display: block;
	color: #FFFFFF;
	padding: 1%;
}

.article-content {
	display: inline-block;
	color: #FFFFFF;
	margin-left: 3%;
	vertical-align: top;
	max-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 180px;
}
.article-date {
	color: #AAAAAA;
	font-size: 0.9em;
	margin-bottom: 0;
}
.article-content h2 {
	margin-top: 0;
}
#archives {
	text-align: right;
	margin-bottom: 5%;
}
#archives a {
	font-size: 2em;
}

.panel-default{
	background-color: #FFFFFF;
	color:black;
}

.thumbnail{
display:block;
padding:4px;
margin-bottom:26px;
line-height:1.625;
background-color:rgba(115, 122, 128,1);
border:1px solid #ddd;
border-radius:4px;
-webkit-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
transition:all .2s ease-in-out
}

.thumbnail .caption{
padding:9px;color:#555
}

img{
	max-width: 100%;
	height: auto;
	}

.pager{
margin-top:10px;
margin-bottom:10px
}
	
.pager li>a{
border: #7A7A7A;
}

.pager li>a:hover{
background-color: rgba(115, 122, 128,0.5);
}

.pull-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}

.open>.dropdown-menu{
	background-color:rgba(43, 43, 43, 0.9);
}

.dropdown-menu>li>a{
	color:#fff;
}

.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}

.panel-default{
border-color:#ddd;
color:#333;
}

.alert{
margin-top:15px;
}

.dropdown-menu .divider {
	margin: 1px 10px;
}

.dropdown-menu>li>a {
	padding: 7px 20px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-image: none;
	background-color: rgba(255,255,255,0.8);
}

.dropdown-menu {
	top: initial;
}

.dropdown-menu-right {
	right: 8%;
}

.caption h3 {
	color: #FFFFFF;
}

.gsguide .post-content {
	margin-left: 0;
}

.gsguide {
	padding: 2%;
}

.gsguide h2 {
	margin-top: 0;
}

.contents-box {
	margin-bottom: 5%;
}

.post-wrapper.gsguide {
	margin-bottom: 10%;
}

.mobile-menu {
	display: none;
}

@media all and (max-width: 768px) {
	#content-area {
		background-color: rgba(0,0,0,0.8);
		margin-bottom: 0px;
	}
	.article-image1{
		display: block;
		width: 100%;
		max-width: 100%;
	}
	
	.article-image2{
		display: block;
		width: 100%;
		max-width: 100%;
	}
	
	.article-image3{
		display: block;
		width: 100%;
		max-width: 100%;
	}
	
	.article-image4{
		display: block;
		width: 100%;
		max-width: 100%;
	}
	
	.article-content {
		display: block;
		width: 100%;
		max-width: 100%;
		margin-left: 0;
		max-height: 300px;
		padding: 3%;
	}
	
	#site-banner {
		display: block;
		width: 100%;
	}
	#content-navbar {
		display: block;
		width: 100%;
		margin-top: 2%;
	}
	#content-navbar a {
		margin-right: 2%;
	}

	.dropdown-menu-right {
		right: 23%;
	}

	.desktop-menu {
		display: none;
	}

	.mobile-menu {
		display: block;
	}

	.mobile-menu li {
		text-align: center;
	}

	.mobile-menu .navbar {
		margin-bottom: 0;
	}

	nav.navbar.navbar-default {
		background-image: linear-gradient(to bottom,#2C2C2C 0,#2C2C2C 100%);
		border-color: #e7e7e7;
		background-color: #676767;
	}

	.navbar-default .navbar-brand {
		color: #FFF;
	}

	.navbar-default .navbar-toggle {
		border-color: #FFF;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}

	.mobile-menu .navbar-default .navbar-nav>li>a {
		color: #FFF;
	}

	.navbar-brand, .navbar-nav>li>a {
		text-shadow: none;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #FFF;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #BBB;
	}

	.mobile-menu .navbar-default .navbar-nav>.open>a, .mobile-menu .navbar-default .navbar-nav>.active>a {
		background-image: linear-gradient(to bottom,#777 0,#777 100%);
	}

	#content-navbar .mobile-menu a {
		margin-right: 0;
	}
}
